h1, h2, h3, h4, h5, h6, a, p, div, section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 20px;
  margin-bottom: 22px;
}

h2, h4, h5 {
  font-family: 'Alegreya Sans SC', sans-serif;
}

h2 {
  font-size: 28px;
  margin-bottom: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 14px;
  margin: 10px 0;
  word-spacing: 4px;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
  font-size: 14px;
  overflow-wrap: break-word;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.wrapper {
  padding-left: 40px;
  flex: 2;

}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 500px;
  justify-content: space-between;
}

.sub-wrapper {
  margin-bottom: 18px;
}

.links {
  display: flex;
  flex: 1;
  min-width: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.link-group {
  display: flex;
  width: 100px;
  justify-content: space-between;
  margin: 10px 0;
}

.personal-links {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.project-link {
  font-size: 14px;
  margin-bottom: 0;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  width: 350px;
  align-self: flex-start;
}

.fa-phone {
  margin-right: 8px;
}
.fa-envelope-o {
  margin-right: 8px;
}

a:hover::before {
  content: '{ ';
}

a:hover::after {
  content: ' }';
}

div.personal-links a:hover::before {
content: none;
}
div.personal-links a:hover::after {
  content: none;
}
